<div id="page-wrapper" >
            <div id="page-inner" class="row">

                <div class="container-fluid ">
                    <div class="row text-center">
                        <div class="col-md-6 text-center mx auto">
                            <div class="card card-block d-flex special-card" style="height: 500px;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    
                                    <div class="container-fluid">
                                        <h1 class="special-card-4">Heads or Tails</h1>
                                        <div class="imageContainer"><img src="/assets/images/heads.png" /></div>
                                    
                                        <button id="heads" class="special-card-4">Heads</button>
                                        <button id="tails" class="special-card-4">Tails</button>
                                        <div id="result"></div>
                                        <p class="user_id" style="display:none;">{{user_id}}</p>
                                        <style>
                                        .imageContainer img {
                                            height: 200px;
                                            width: 200px;
                                        }
                                        .rotate {
                                            animation: rotation 0.1s infinite;
                                            animation-direction: alternate-reverse;
                                    
                                            /* transform: rotateX(120deg); */
                                        }
                                        @keyframes rotation {
                                            from {
                                            transform: rotateX(0deg);
                                            }
                                            to {
                                            transform: rotateX(180deg);
                                            }
                                        }
                                        </style>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
<script src="/javascript/flipACoin.js"></script>