<div id="page-wrapper">
            <div id="page-inner" class="row">
                
                <div class="container-fluid ">
                    <div class="row text-center">
                        <div class="col-md-5 text-center my auto">
                            <div class="card card-block d-flex special-card-2" style="height: 700px;">
                                <div class="card-body align-items-center d-flex justify-content-center">

                                    <div id="betting" class="container-fluid">
                                        <h1>Choose your bet below.</h1>
                                        <p class="h2">Once you choose the game can begin.</p>
                                        <button id="50">50</button>
                                        <button id="100">100</button>
                                        <button id="200">200</button>
                                        <p class="betChoice"></p>
                                    </div>

                                    <div class="container-fluid">
                                        <h1 class="h1">Rock Paper Scissors</h1>
                                        <h2 style="color:white;">Your Choice: <span id="user-choice"></span></h2>
                                        <h2 style="color:white;">Computer Choice: <span id="computer-choice"></span></h2>
                                        <h2 style="color:white;">Winner: <span id="result"></span></h2>

                                        <button id="rock">Rock</button>
                                        <button id="paper">Paper</button>
                                        <button id="scissors">Scissors</button>
                                       
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="/javascript/RockPaperScissors.js"></script>